{% extends 'base.html' %}

{% block content %}

<div class="contain">
    <div class="row">
        <div class="col-md-8 m-auto">

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary my-4" type="submit">Submit</button>

      {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
       {% endif %}
            </form>

        </div>
    </div>
</div>

{% endblock %}