{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Title</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                {% if files %}
                {% for each in files %}
              <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    
                    <div class="ms-3">
                      <a href="{% url 'edit_file' each.id %}" class="fw-bold mb-1 text-decoration-none">{{ each.name|title}}</p>
                      
                    </div>
                  </div>
                </td>
                {% if each.file %}
                <td>
                  <p class="fw-normal mb-1 "> <a href="{{each.file.url}} " target="_blank" class="text-decoration-none"> view</a> </p>
                 
                </td>
                {% endif %}
               
                <td>
                  
                  <a href="{% url 'delete_file' each.id %}" onclick="return confirm('Are you sure?')"type="button" class="btn btn-link btn-sm btn-rounded text-decoration-none">
                    Delete
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% endif %}
              
            
            </tbody>
          </table>
        
    </div>
</div>

{% endblock %}